<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <header>
      <h1>Know Ur News</h1>
    </header>

    <main>
      <article>
        <section>
          <form class="">
            <h2>Type the URL:</h2>
            <input
              id="url"
              pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
              type="text"
              name="input"
              placeholder="URL"
              required
            />
            <input type="submit" name="" value="Analyze" />
          </form>
        </section>

        <section id="result">
          <h2>Analysis:</h2>
          <div id="polarity">Polarity: <span></span></div>
          <div id="subjectivity">Subjectivity: <span></span></div>
        </section>
      </article>
    </main>
    <div aria-hidden="true" id="loader"></div>

    <footer>
      <p>Alejandro Venegas</p>
    </footer>
  </body>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</html>
