@import 'base';
html {
  background-color: $black;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: $white;
  letter-spacing: 1px;
}

body {
  margin: 0;
  min-height: 100vh;
  #loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-top: 8px solid $primary-color;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

main {
  margin: 80px auto;
  article {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
  }

  #result {
    width: 50%;

    div {
      margin: 10px;
      span {
        &.positive {
          color: #999dea;
        }
        &.negative {
          color: #f8a0a0;
        }
      }
    }
  }
}
