@import 'base';
header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: $primary-color;
  color: $white;
  box-shadow: 0 0 10px 0px $black;
  align-content: center;
}
